.interests {
  font-family: $font-lato;
  text-transform: uppercase;
  width: 500px;
  color: $alt-color-dark;

  > .title {
    font-size: $font-size-m-large;
    text-align: center;
    margin-bottom: 63px;

    > .username {
      color: $link-color;
    }
  }

  .pills {
    padding-left: 0;

    li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;

      a {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 15px;
        text-decoration: none;
        border: $alt-color-dark 1px solid;
        color: $alt-color-dark;

        &:hover {
          cursor: pointer;
        }

        &.-pill-red {
          border: $color-pill-red 1px solid;
          color: $color-pill-red;

          &.-selected {
            background-color: $color-pill-red;
            color: white;
          }
        }

        &.-pill-purple {
          border: $color-pill-purple 1px solid;
          color: $color-pill-purple;

          &.-selected {
            background-color: $color-pill-purple;
            color: white;
          }
        }

        &.-pill-blue {
          border: $color-pill-blue 1px solid;
          color: $color-pill-blue;

          &.-selected {
            background-color: $color-pill-blue;
            color: white;
          }
        }

        &.-pill-green {
          border: $color-pill-green 1px solid;
          color: $color-pill-green;

          &.-selected {
            background-color: $color-pill-green;
            color: white;
          }
        }

        &.-pill-yellow {
          border: $color-pill-yellow 1px solid;
          color: $color-pill-yellow;

          &.-selected {
            background-color: $color-pill-yellow;
            color: white;
          }
        }
      }
    }
  }

  .actions {
    display: flex;

    a.back {
      text-decoration: none;
    }
  }

  .btn {
    margin-top: 8px;
    width: 242px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    margin-top: 57px;
  }

  .back {
    margin-top: 27px;
  }
}
