.login {
  font-family: $font-lato;
  width: 242px;
  color: $alt-color-dark;

  > .title {
    font-size: $font-size-m-large;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 63px;
  }

  label.field-label {
    font-weight: normal;
    text-transform: uppercase;
  }

  .btn {
    margin-top: 8px;
    width: 100%;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }
}
