/**
 * Menu
 */

.menu {
  height: 56px;
  border-bottom: 1px solid $alt-color-light;
  margin-bottom: 76px;

  .logo {
    margin-top: 5px;
    height: 45px;
    width: 45px;
  }
}

@media (min-width: $screen-md-min) {
  .menu {
    .logo {
      float: left;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .menu {
    .logo {
      position: absolute;
      top: 0;
      left: 50%;
    }

    &.is-active {
      visibility: visible;
    }
  }
}
