.navigation {
  .login-btn a {
    color: $link-color;
  }

  a {
    font-family: $font-lato;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-menu;
  }
}

@media (min-width: $screen-md-min) {
  .navigation {
    li {
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .navigation {
    visibility: hidden;

    &.is-active {
      visibility: visible;
    }

    > ul {
      position: absolute;
      width: 100%;
      background: #fff;
      top: 42px;
      left: 0;

      > li {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }
  }
}
