/**
 * Post
 */

.post {
  > ul {
    list-style: none;
    padding: 0;
  }

  > .subjects {
    font-family: $font-lato;
    font-size: $font-size-smallest;
    text-transform: uppercase;

    > li.red {
      color: $color-pill-red;
    }

    > li.purple {
      color: $color-pill-purple;
    }

    > li.blue {
      color: $color-pill-blue;
    }

    > li.green {
      color: $color-pill-green;
    }

    > li.yellow {
      color: $color-pill-yellow;
    }
  }

  > .content {
    .title {
      font-family: $font-lato;
      font-size: $font-size-large;
      color: $color-title;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .byline {
      line-height: 26px;

      .author-img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 7px;
      }

      .author {
        font-family: $font-open-sans;
        font-style: italic;
        font-size: $font-size-small;
        color: $color-byline;
      }
    }

    .text {
      font-family: $font-open-sans;
      color: $color-text;
      margin-top: 20px;
      line-height: 21px;
    }
  }

  &.-main {
    > .content {
      .title {
        font-size: $font-size-largest;
      }
    }
  }
}

.sep {
  border: solid 1px $alt-color-lighter;
  margin-bottom: 30px;
}
