/*----------------------------------------*\
  GLOBAL SETTINGS

  Check the following page for details:
  kanbasu.liip.ch/settings.html
\*----------------------------------------*/

// Use this setting to prefix all the components classes
$namespace:                         '';


/**
 * Colors
 */


$brand-color:                       #6ea644;
$alt-color-lighter:                 #e4e4e4;
$alt-color-light:                   #979797;
$alt-color:                         #777;
$alt-color-dark:                    #3E433E;
$alt-color-darker:                  #333;

$color-title:                       #000;
$color-text:                        #686868;
$color-byline:                      #808080;
$color-form:                        #BFBFBF;
$color-menu:                        $alt-color-dark;


/**
 * Typography
 */

$font-family-default:               Arial, Helvetica, sans-serif;
$font-lato:                         'Lato', $font-family-default;
$font-open-sans:                    'Open Sans', $font-family-default;

$font-title:                        $font-lato;
$font-text:                         $font-open-sans;

$font-size-default:                 14px;
$font-size-small:                   13px;
$font-size-smallest:                10px;
$font-size-large:                   17px;
$font-size-m-large:                 24px;
$font-size-largest:                 29px;

$line-height-default:               1.45;

$text-color:                        $alt-color-darker;
$link-color:                        #4990E2;
$muted-color:                       transparentize($text-color,.4);


/**
 * Spacings
 */

$ratio:                             1.61803398875;

$spacing-unit-default:              24px;
$spacing-unit-tiny:                 floor($spacing-unit-default / ($ratio * 2));
$spacing-unit-small:                floor($spacing-unit-default / $ratio);
$spacing-unit-large:                floor($spacing-unit-default * $ratio);
$spacing-unit-huge:                 floor($spacing-unit-default * ($ratio * 2));


/**
 * Responsiveness
 */

// Use EM media-queries for better browser consistency
// See http://zellwk.com/blog/media-query-units
$screen-xs-max:                     640px  / 16px * 1em;
$screen-sm-min:                     641px  / 16px * 1em;
$screen-sm-max:                     750px  / 16px * 1em;
$screen-md-min:                     751px  / 16px * 1em;
$screen-md-max:                     1024px / 16px * 1em;
$screen-lg-min:                     1025px / 16px * 1em;

$mq-xs:                             '(max-width: #{$screen-xs-max})'; // DEPRECATED
$mq-sm:                             '(min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})'; // DEPRECATED
$mq-md:                             '(min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})'; // DEPRECATED
$mq-lg:                             '(min-width: #{$screen-lg-min})'; // DEPRECATED

$breakpoints-default:               (
                                      'sm' '(min-width: #{$screen-sm-min})',
                                      'md' '(min-width: #{$screen-md-min})',
                                      'lg' '(min-width: #{$screen-lg-min})'
                                    );
$breakpoints-desc:                  (
                                      'xs' '(max-width: #{$screen-xs-max})',
                                      'sm' '(max-width: #{$screen-sm-max})',
                                      'md' '(max-width: #{$screen-md-max})'
                                    );


/**
 * Miscellaneous
 */

$border-radius-default:             0;
$border-radius-small:               2px;
$border-radius-large:               6px;

$color-pill-red:                    #D0011B;
$color-pill-purple:                 #BD10E0;
$color-pill-blue:                   #4A90E2;
$color-pill-green:                  #7CBB37;
$color-pill-yellow:                 #F5A623;


/*----------------------------------------*\
  COMPONENTS
\*----------------------------------------*/

/**
 * Buttons
 */

$btn-use-padding-ratio:             true;

$btn-padding:                       $spacing-unit-small;
$btn-color:                         inherit;
$btn-border:                        1px solid transparent;
$btn-bkg:                           $link-color;
$btn-border-radius:                 $border-radius-default;

$btn-small-padding:                 $spacing-unit-tiny;
$btn-small-font-size:               $font-size-small;
$btn-small-border-radius:           $border-radius-small;

$btn-large-padding:                 $spacing-unit-default;
$btn-large-font-size:               $font-size-large;
$btn-large-border-radius:           $border-radius-large;

$btn-default-color:                 $text-color;
$btn-default-bkg-color:             $alt-color-lighter;
$btn-default-hover-bkg-color:       lighten($btn-default-bkg-color, 3%);
$btn-default-active-bkg-color:      darken($btn-default-bkg-color, 5%);

$btn-primary-color:                 white;
$btn-primary-bkg-color:             $link-color;
$btn-primary-hover-bkg-color:       lighten($btn-primary-bkg-color, 8%);
$btn-primary-active-bkg-color:      darken($btn-primary-bkg-color, 5%);


/**
 * Forms
 */

$field-use-padding-ratio:           true;

$field-padding:                     $spacing-unit-small;

$field-color:                       inherit;
$field-font-size:                   inherit;
$field-font-family:                 inherit;
$field-line-height:                 $line-height-default;

$field-bkg-color:                   white;
$field-border:                      1px solid $color-form;
$field-focus-border-color:          $alt-color-darker;
$field-border-radius:               $border-radius-default;

$field-disabled-bkg-color:          $alt-color-lighter;
$field-disabled-color:              $alt-color;

$field-small-padding:               $spacing-unit-tiny;
$field-small-font-size:             $font-size-small;
$field-small-border-radius:         $border-radius-small;

$field-large-padding:               $spacing-unit-default;
$field-large-font-size:             $font-size-large;
$field-large-border-radius:         $border-radius-large;

$field-help-color:                  $alt-color-light;


/**
 * Lists
 */

$list-separator-style:              1px solid $alt-color-lighter;


/**
 * Box
 */

$box-default-color:                 inherit;
$box-default-bkg-color:             $alt-color-lighter;

$box-primary-color:                 white;
$box-primary-bkg-color:             $brand-color;


/**
 * Grid
 */

$grid-flex:                         false;


/**
 * Widths
 */

$widths-columns:                    6,5,4,3,2,1;
$widths-breakpoints:                $breakpoints-default;


/**
 * Media
 */

$media-gutter:                      $spacing-unit-default;


/**
 * Media responsive
 */

$media-collapse:                    $screen-sm-max;


/**
 * Mosaic responsive
 */

$mosaic-collapse:                   $screen-sm-max;
