@charset "UTF-8";
/*!
 *  カンバス KANBASU
 *  Distributed under the MIT License
 *  Copyright (c) 2015 Liip AG
 */
/**
 * Settings
 */
/*----------------------------------------*  GLOBAL SETTINGS

  Check the following page for details:
  kanbasu.liip.ch/settings.html
\*----------------------------------------*/
/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Spacings
 */
/**
 * Responsiveness
 */
/**
 * Miscellaneous
 */
/*----------------------------------------*  COMPONENTS
\*----------------------------------------*/
/**
 * Buttons
 */
/**
 * Forms
 */
/**
 * Lists
 */
/**
 * Box
 */
/**
 * Grid
 */
/**
 * Widths
 */
/**
 * Media
 */
/**
 * Media responsive
 */
/**
 * Mosaic responsive
 */
/*----------------------------------------*  GLOBAL SETTINGS

  Check the following page for details:
  kanbasu.liip.ch/settings.html
\*----------------------------------------*/
/**
 * Colors
 */
/**
 * Typography
 */
/**
 * Spacings
 */
/**
 * Responsiveness
 */
/**
 * Miscellaneous
 */
/*----------------------------------------*  COMPONENTS
\*----------------------------------------*/
/**
 * Buttons
 */
/**
 * Forms
 */
/**
 * Lists
 */
/**
 * Box
 */
/**
 * Grid
 */
/**
 * Widths
 */
/**
 * Media
 */
/**
 * Media responsive
 */
/**
 * Mosaic responsive
 */
/**
 * Tools
 */
/*----------------------------------------*  FUNCTIONS
\*----------------------------------------*/
/**
 * Calculate REM value based on the default font-size
 */
/**
 * Return a value divided by a ratio
 * It uses the golden ratio by default
 *
 * Useful to create "visually equal" spacings
 * As mathematically equal spacings never "visually" look equal around text
 */
/**
 * Return a unitless value
 */
/**
 * Addition top and bottom padding
 */
/*----------------------------------------*  MIXINS
\*----------------------------------------*/
/**
 * Responsive
 */
/**
 * Vendors
 */
/*!
 * normalize.css v3.0.2 | MIT License | git.io/normalize
 * CUSTOMIZED
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Defaults
 */
/*----------------------------------------*  BOX MODEL
\*----------------------------------------*/
/**
 * Use the "smart" box model globally.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*----------------------------------------*  ELEMENT DEFAULT BEHAVIOR
\*----------------------------------------*/
img,
iframe,
embed,
object {
  display: block; }

/*----------------------------------------*  TYPOGRAPHY SCAFFOLDING
\*----------------------------------------*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  line-height: 1.45;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Links
 */
a {
  color: #4990E2; }
  a:hover, a:focus {
    text-decoration: none; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1,
.h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2,
.h2 {
  font-size: 1.953em; }

h3,
.h3 {
  font-size: 1.563em; }

h4,
.h4 {
  font-size: 1.25em; }

h5,
.h5 {
  font-size: 1em; }

h6,
.h6 {
  font-size: 0.8em; }

/**
 * Paragraphs
 */
p {
  margin-top: 1em;
  margin-bottom: 1.3em; }

/**
 * Preformatted text
 */
pre,
code {
  font-family: 'Monaco', monospace;
  font-weight: normal;
  tab-size: 4;
  background-color: #f5f5f5; }

pre {
  padding: 24px;
  margin: 0 0 2em;
  font-size: 1rem;
  border-radius: 0; }

code {
  display: inline-block;
  padding: 1px 5px; }
  pre code {
    display: block;
    padding: 0; }

/**
 * Lists
 */
ul,
ol {
  padding-left: 24px;
  margin: 1em 0; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0;
  margin-bottom: 0.5em; }

.dl--inline dt {
  float: left;
  width: 100px; }

.dl--inline dd {
  margin-left: calc(100px + 14px); }

/**
 * Miscellaenous
 */
abbr {
  cursor: help; }

/*----------------------------------------*  TABLE
\*----------------------------------------*/
table {
  width: 100%;
  margin-bottom: 24px;
  border-collapse: collapse; }

caption {
  text-align: left;
  font-style: italic; }

th {
  text-align: left;
  font-weight: bold; }

th,
td {
  padding: 7px; }

/*----------------------------------------*  FORMS
\*----------------------------------------*/
/**
 * Basic form elements
 */
fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

input[type='text'],
input[type='search'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='number'],
input[type='file'],
select,
textarea {
  width: 100%;
  padding: 8px 14px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.45;
  border: 1px solid #BFBFBF;
  background-color: white;
  border-radius: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  input[type='text']:focus,
  input[type='search']:focus,
  input[type='email']:focus,
  input[type='tel']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  input[type='date']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  input[type='month']:focus,
  input[type='week']:focus,
  input[type='time']:focus,
  input[type='number']:focus,
  input[type='file']:focus,
  select:focus,
  textarea:focus {
    border-color: #333;
    outline: none; }
  input[type='text'][disabled],
  input[type='search'][disabled],
  input[type='email'][disabled],
  input[type='tel'][disabled],
  input[type='url'][disabled],
  input[type='password'][disabled],
  input[type='date'][disabled],
  input[type='datetime'][disabled],
  input[type='datetime-local'][disabled],
  input[type='month'][disabled],
  input[type='week'][disabled],
  input[type='time'][disabled],
  input[type='number'][disabled],
  input[type='file'][disabled],
  select[disabled],
  textarea[disabled] {
    color: #777;
    background-color: #e4e4e4;
    cursor: not-allowed; }

select {
  height: 38px;
  padding-top: 0;
  padding-bottom: 0; }

textarea {
  resize: vertical; }

input[type='checkbox'],
input[type='radio'] {
  display: inline-block; }
  label input[type='checkbox'], label
  input[type='radio'] {
    margin-right: 7px; }

label {
  display: block;
  padding-bottom: 14px;
  cursor: pointer; }

.label--inline {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px; }
  .label--inline:not(:last-child) {
    margin-right: 24px; }

/**
 * Forms layout
 */
.form-group ~ .form-group {
  margin-top: 14px; }

.field-label {
  font-weight: bold;
  padding: 8px 0; }

.field-help {
  margin-top: 7px;
  margin-bottom: 0;
  color: #979797; }

/**
 * Sizes
 */
.input--small,
.select--small {
  font-size: 13px !important;
  border-radius: 2px !important; }

.input--small {
  padding: 4px 7px !important; }

.select--small {
  height: 273px !important;
  padding-left: 7px !important;
  padding-right: 7px !important; }

.input--large,
.select--large {
  font-size: 17px !important;
  border-radius: 6px !important; }

.input--large {
  padding: 14px 24px !important; }

.select--large {
  height: 375px !important;
  padding-left: 24px !important;
  padding-right: 24px !important; }

/**
 * Helpers
 */
/*----------------------------------------*  TEXT
\*----------------------------------------*/
/**
 * Alignment
 */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/**
 * Case
 */
.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

/**
 * Styling
 */
.text-italic {
  font-style: italic; }

.text-bold {
  font-weight: bold; }

/**
 * Size
 */
.text-small {
  font-size: 13px; }

.text-large {
  font-size: 17px; }

/**
 * Colors
 */
.text-muted {
  color: rgba(51, 51, 51, 0.6); }

/*----------------------------------------*  TEXT RESPONSIVE
\*----------------------------------------*/
/**
 * Alignment
 */
@media (min-width: 40.0625em) {
  .sm-text-left {
    text-align: left; }
  .sm-text-center {
    text-align: center; }
  .sm-text-right {
    text-align: right; } }

@media (min-width: 46.9375em) {
  .md-text-left {
    text-align: left; }
  .md-text-center {
    text-align: center; }
  .md-text-right {
    text-align: right; } }

@media (min-width: 64.0625em) {
  .lg-text-left {
    text-align: left; }
  .lg-text-center {
    text-align: center; }
  .lg-text-right {
    text-align: right; } }

/*----------------------------------------*  FLOAT
\*----------------------------------------*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix:after,
dl:after,
.dl--inline dd:after,
.media:after {
  content: '';
  display: table;
  clear: both; }

/*----------------------------------------*  SPACINGS
\*----------------------------------------*/
/**
 * MARGINS
 * Generate margin classes based on spacing units
 *
 * mrg(|t|r|b|l|h|v)0   => no margin
 * mrg(|t|r|b|l|h|v)--  => 1/4
 * mrg(|t|r|b|l|h|v)-   => 1/2
 * mrg(|t|r|b|l|h|v)    => 1x
 * mrg(|t|r|b|l|h|v)+   => 2x
 * mrg(|t|r|b|l|h|v)++  => 4x
 *
 * {nothing}  => all
 * t          => top
 * r          => right
 * b          => bottom
 * l          => left
 * h          => horizontal (left + right)
 * v          => vertical (top + bottom)
 */
.mrg0 {
  margin: 0 !important; }

.mrgt0 {
  margin-top: 0 !important; }

.mrgr0 {
  margin-right: 0 !important; }

.mrgb0 {
  margin-bottom: 0 !important; }

.mrgl0 {
  margin-left: 0 !important; }

.mrgh0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.mrgv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.mrg {
  margin: 24px !important; }

.mrgt {
  margin-top: 24px !important; }

.mrgr {
  margin-right: 24px !important; }

.mrgb {
  margin-bottom: 24px !important; }

.mrgl {
  margin-left: 24px !important; }

.mrgh {
  margin-right: 24px !important;
  margin-left: 24px !important; }

.mrgv {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.mrg-- {
  margin: 7px !important; }

.mrgt-- {
  margin-top: 7px !important; }

.mrgr-- {
  margin-right: 7px !important; }

.mrgb-- {
  margin-bottom: 7px !important; }

.mrgl-- {
  margin-left: 7px !important; }

.mrgh-- {
  margin-right: 7px !important;
  margin-left: 7px !important; }

.mrgv-- {
  margin-top: 7px !important;
  margin-bottom: 7px !important; }

.mrg- {
  margin: 14px !important; }

.mrgt- {
  margin-top: 14px !important; }

.mrgr- {
  margin-right: 14px !important; }

.mrgb- {
  margin-bottom: 14px !important; }

.mrgl- {
  margin-left: 14px !important; }

.mrgh- {
  margin-right: 14px !important;
  margin-left: 14px !important; }

.mrgv- {
  margin-top: 14px !important;
  margin-bottom: 14px !important; }

.mrg\+ {
  margin: 38px !important; }

.mrgt\+ {
  margin-top: 38px !important; }

.mrgr\+ {
  margin-right: 38px !important; }

.mrgb\+ {
  margin-bottom: 38px !important; }

.mrgl\+ {
  margin-left: 38px !important; }

.mrgh\+ {
  margin-right: 38px !important;
  margin-left: 38px !important; }

.mrgv\+ {
  margin-top: 38px !important;
  margin-bottom: 38px !important; }

.mrg\+\+ {
  margin: 77px !important; }

.mrgt\+\+ {
  margin-top: 77px !important; }

.mrgr\+\+ {
  margin-right: 77px !important; }

.mrgb\+\+ {
  margin-bottom: 77px !important; }

.mrgl\+\+ {
  margin-left: 77px !important; }

.mrgh\+\+ {
  margin-right: 77px !important;
  margin-left: 77px !important; }

.mrgv\+\+ {
  margin-top: 77px !important;
  margin-bottom: 77px !important; }

/**
 * PADDINGS
 * Generate padding classes based on spacing units
 *
 * pdg(|t|r|b|l|h|v)0   => no margin
 * pdg(|t|r|b|l|h|v)--  => 1/4
 * pdg(|t|r|b|l|h|v)-   => 1/2
 * pdg(|t|r|b|l|h|v)    => 1x
 * pdg(|t|r|b|l|h|v)+   => 2x
 * pdg(|t|r|b|l|h|v)++  => 4x
 *
 * {nothing}  => all
 * t          => top
 * r          => right
 * b          => bottom
 * l          => left
 * h          => horizontal (left + right)
 * v          => vertical (top + bottom)
 */
.pdg0 {
  padding: 0 !important; }

.pdgt0 {
  padding-top: 0 !important; }

.pdgr0 {
  padding-right: 0 !important; }

.pdgb0 {
  padding-bottom: 0 !important; }

.pdgl0 {
  padding-left: 0 !important; }

.pdgh0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.pdgv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.pdg {
  padding: 24px !important; }

.pdgt {
  padding-top: 24px !important; }

.pdgr {
  padding-right: 24px !important; }

.pdgb {
  padding-bottom: 24px !important; }

.pdgl {
  padding-left: 24px !important; }

.pdgh {
  padding-right: 24px !important;
  padding-left: 24px !important; }

.pdgv {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.pdg-- {
  padding: 7px !important; }

.pdgt-- {
  padding-top: 7px !important; }

.pdgr-- {
  padding-right: 7px !important; }

.pdgb-- {
  padding-bottom: 7px !important; }

.pdgl-- {
  padding-left: 7px !important; }

.pdgh-- {
  padding-right: 7px !important;
  padding-left: 7px !important; }

.pdgv-- {
  padding-top: 7px !important;
  padding-bottom: 7px !important; }

.pdg- {
  padding: 14px !important; }

.pdgt- {
  padding-top: 14px !important; }

.pdgr- {
  padding-right: 14px !important; }

.pdgb- {
  padding-bottom: 14px !important; }

.pdgl- {
  padding-left: 14px !important; }

.pdgh- {
  padding-right: 14px !important;
  padding-left: 14px !important; }

.pdgv- {
  padding-top: 14px !important;
  padding-bottom: 14px !important; }

.pdg\+ {
  padding: 38px !important; }

.pdgt\+ {
  padding-top: 38px !important; }

.pdgr\+ {
  padding-right: 38px !important; }

.pdgb\+ {
  padding-bottom: 38px !important; }

.pdgl\+ {
  padding-left: 38px !important; }

.pdgh\+ {
  padding-right: 38px !important;
  padding-left: 38px !important; }

.pdgv\+ {
  padding-top: 38px !important;
  padding-bottom: 38px !important; }

.pdg\+\+ {
  padding: 77px !important; }

.pdgt\+\+ {
  padding-top: 77px !important; }

.pdgr\+\+ {
  padding-right: 77px !important; }

.pdgb\+\+ {
  padding-bottom: 77px !important; }

.pdgl\+\+ {
  padding-left: 77px !important; }

.pdgh\+\+ {
  padding-right: 77px !important;
  padding-left: 77px !important; }

.pdgv\+\+ {
  padding-top: 77px !important;
  padding-bottom: 77px !important; }

/*----------------------------------------*  SPACINGS RESPONSIVE
\*----------------------------------------*/
/**
 * Margins
 */
@media (min-width: 40.0625em) {
  .sm-mrg0 {
    margin: 0 !important; }
  .sm-mrgt0 {
    margin-top: 0 !important; }
  .sm-mrgr0 {
    margin-right: 0 !important; }
  .sm-mrgb0 {
    margin-bottom: 0 !important; }
  .sm-mrgl0 {
    margin-left: 0 !important; }
  .sm-mrgh0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .sm-mrgv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .sm-mrg {
    margin: 24px !important; }
  .sm-mrgt {
    margin-top: 24px !important; }
  .sm-mrgr {
    margin-right: 24px !important; }
  .sm-mrgb {
    margin-bottom: 24px !important; }
  .sm-mrgl {
    margin-left: 24px !important; }
  .sm-mrgh {
    margin-right: 24px !important;
    margin-left: 24px !important; }
  .sm-mrgv {
    margin-top: 24px !important;
    margin-bottom: 24px !important; }
  .sm-mrg-- {
    margin: 7px !important; }
  .sm-mrgt-- {
    margin-top: 7px !important; }
  .sm-mrgr-- {
    margin-right: 7px !important; }
  .sm-mrgb-- {
    margin-bottom: 7px !important; }
  .sm-mrgl-- {
    margin-left: 7px !important; }
  .sm-mrgh-- {
    margin-right: 7px !important;
    margin-left: 7px !important; }
  .sm-mrgv-- {
    margin-top: 7px !important;
    margin-bottom: 7px !important; }
  .sm-mrg- {
    margin: 14px !important; }
  .sm-mrgt- {
    margin-top: 14px !important; }
  .sm-mrgr- {
    margin-right: 14px !important; }
  .sm-mrgb- {
    margin-bottom: 14px !important; }
  .sm-mrgl- {
    margin-left: 14px !important; }
  .sm-mrgh- {
    margin-right: 14px !important;
    margin-left: 14px !important; }
  .sm-mrgv- {
    margin-top: 14px !important;
    margin-bottom: 14px !important; }
  .sm-mrg\+ {
    margin: 38px !important; }
  .sm-mrgt\+ {
    margin-top: 38px !important; }
  .sm-mrgr\+ {
    margin-right: 38px !important; }
  .sm-mrgb\+ {
    margin-bottom: 38px !important; }
  .sm-mrgl\+ {
    margin-left: 38px !important; }
  .sm-mrgh\+ {
    margin-right: 38px !important;
    margin-left: 38px !important; }
  .sm-mrgv\+ {
    margin-top: 38px !important;
    margin-bottom: 38px !important; }
  .sm-mrg\+\+ {
    margin: 77px !important; }
  .sm-mrgt\+\+ {
    margin-top: 77px !important; }
  .sm-mrgr\+\+ {
    margin-right: 77px !important; }
  .sm-mrgb\+\+ {
    margin-bottom: 77px !important; }
  .sm-mrgl\+\+ {
    margin-left: 77px !important; }
  .sm-mrgh\+\+ {
    margin-right: 77px !important;
    margin-left: 77px !important; }
  .sm-mrgv\+\+ {
    margin-top: 77px !important;
    margin-bottom: 77px !important; } }

@media (min-width: 46.9375em) {
  .md-mrg0 {
    margin: 0 !important; }
  .md-mrgt0 {
    margin-top: 0 !important; }
  .md-mrgr0 {
    margin-right: 0 !important; }
  .md-mrgb0 {
    margin-bottom: 0 !important; }
  .md-mrgl0 {
    margin-left: 0 !important; }
  .md-mrgh0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .md-mrgv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .md-mrg {
    margin: 24px !important; }
  .md-mrgt {
    margin-top: 24px !important; }
  .md-mrgr {
    margin-right: 24px !important; }
  .md-mrgb {
    margin-bottom: 24px !important; }
  .md-mrgl {
    margin-left: 24px !important; }
  .md-mrgh {
    margin-right: 24px !important;
    margin-left: 24px !important; }
  .md-mrgv {
    margin-top: 24px !important;
    margin-bottom: 24px !important; }
  .md-mrg-- {
    margin: 7px !important; }
  .md-mrgt-- {
    margin-top: 7px !important; }
  .md-mrgr-- {
    margin-right: 7px !important; }
  .md-mrgb-- {
    margin-bottom: 7px !important; }
  .md-mrgl-- {
    margin-left: 7px !important; }
  .md-mrgh-- {
    margin-right: 7px !important;
    margin-left: 7px !important; }
  .md-mrgv-- {
    margin-top: 7px !important;
    margin-bottom: 7px !important; }
  .md-mrg- {
    margin: 14px !important; }
  .md-mrgt- {
    margin-top: 14px !important; }
  .md-mrgr- {
    margin-right: 14px !important; }
  .md-mrgb- {
    margin-bottom: 14px !important; }
  .md-mrgl- {
    margin-left: 14px !important; }
  .md-mrgh- {
    margin-right: 14px !important;
    margin-left: 14px !important; }
  .md-mrgv- {
    margin-top: 14px !important;
    margin-bottom: 14px !important; }
  .md-mrg\+ {
    margin: 38px !important; }
  .md-mrgt\+ {
    margin-top: 38px !important; }
  .md-mrgr\+ {
    margin-right: 38px !important; }
  .md-mrgb\+ {
    margin-bottom: 38px !important; }
  .md-mrgl\+ {
    margin-left: 38px !important; }
  .md-mrgh\+ {
    margin-right: 38px !important;
    margin-left: 38px !important; }
  .md-mrgv\+ {
    margin-top: 38px !important;
    margin-bottom: 38px !important; }
  .md-mrg\+\+ {
    margin: 77px !important; }
  .md-mrgt\+\+ {
    margin-top: 77px !important; }
  .md-mrgr\+\+ {
    margin-right: 77px !important; }
  .md-mrgb\+\+ {
    margin-bottom: 77px !important; }
  .md-mrgl\+\+ {
    margin-left: 77px !important; }
  .md-mrgh\+\+ {
    margin-right: 77px !important;
    margin-left: 77px !important; }
  .md-mrgv\+\+ {
    margin-top: 77px !important;
    margin-bottom: 77px !important; } }

@media (min-width: 64.0625em) {
  .lg-mrg0 {
    margin: 0 !important; }
  .lg-mrgt0 {
    margin-top: 0 !important; }
  .lg-mrgr0 {
    margin-right: 0 !important; }
  .lg-mrgb0 {
    margin-bottom: 0 !important; }
  .lg-mrgl0 {
    margin-left: 0 !important; }
  .lg-mrgh0 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .lg-mrgv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .lg-mrg {
    margin: 24px !important; }
  .lg-mrgt {
    margin-top: 24px !important; }
  .lg-mrgr {
    margin-right: 24px !important; }
  .lg-mrgb {
    margin-bottom: 24px !important; }
  .lg-mrgl {
    margin-left: 24px !important; }
  .lg-mrgh {
    margin-right: 24px !important;
    margin-left: 24px !important; }
  .lg-mrgv {
    margin-top: 24px !important;
    margin-bottom: 24px !important; }
  .lg-mrg-- {
    margin: 7px !important; }
  .lg-mrgt-- {
    margin-top: 7px !important; }
  .lg-mrgr-- {
    margin-right: 7px !important; }
  .lg-mrgb-- {
    margin-bottom: 7px !important; }
  .lg-mrgl-- {
    margin-left: 7px !important; }
  .lg-mrgh-- {
    margin-right: 7px !important;
    margin-left: 7px !important; }
  .lg-mrgv-- {
    margin-top: 7px !important;
    margin-bottom: 7px !important; }
  .lg-mrg- {
    margin: 14px !important; }
  .lg-mrgt- {
    margin-top: 14px !important; }
  .lg-mrgr- {
    margin-right: 14px !important; }
  .lg-mrgb- {
    margin-bottom: 14px !important; }
  .lg-mrgl- {
    margin-left: 14px !important; }
  .lg-mrgh- {
    margin-right: 14px !important;
    margin-left: 14px !important; }
  .lg-mrgv- {
    margin-top: 14px !important;
    margin-bottom: 14px !important; }
  .lg-mrg\+ {
    margin: 38px !important; }
  .lg-mrgt\+ {
    margin-top: 38px !important; }
  .lg-mrgr\+ {
    margin-right: 38px !important; }
  .lg-mrgb\+ {
    margin-bottom: 38px !important; }
  .lg-mrgl\+ {
    margin-left: 38px !important; }
  .lg-mrgh\+ {
    margin-right: 38px !important;
    margin-left: 38px !important; }
  .lg-mrgv\+ {
    margin-top: 38px !important;
    margin-bottom: 38px !important; }
  .lg-mrg\+\+ {
    margin: 77px !important; }
  .lg-mrgt\+\+ {
    margin-top: 77px !important; }
  .lg-mrgr\+\+ {
    margin-right: 77px !important; }
  .lg-mrgb\+\+ {
    margin-bottom: 77px !important; }
  .lg-mrgl\+\+ {
    margin-left: 77px !important; }
  .lg-mrgh\+\+ {
    margin-right: 77px !important;
    margin-left: 77px !important; }
  .lg-mrgv\+\+ {
    margin-top: 77px !important;
    margin-bottom: 77px !important; } }

/**
 * Paddings
 */
@media (min-width: 40.0625em) {
  .sm-pdg0 {
    padding: 0 !important; }
  .sm-pdgt0 {
    padding-top: 0 !important; }
  .sm-pdgr0 {
    padding-right: 0 !important; }
  .sm-pdgb0 {
    padding-bottom: 0 !important; }
  .sm-pdgl0 {
    padding-left: 0 !important; }
  .sm-pdgh0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .sm-pdgv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .sm-pdg {
    padding: 24px !important; }
  .sm-pdgt {
    padding-top: 24px !important; }
  .sm-pdgr {
    padding-right: 24px !important; }
  .sm-pdgb {
    padding-bottom: 24px !important; }
  .sm-pdgl {
    padding-left: 24px !important; }
  .sm-pdgh {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .sm-pdgv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; }
  .sm-pdg-- {
    padding: 7px !important; }
  .sm-pdgt-- {
    padding-top: 7px !important; }
  .sm-pdgr-- {
    padding-right: 7px !important; }
  .sm-pdgb-- {
    padding-bottom: 7px !important; }
  .sm-pdgl-- {
    padding-left: 7px !important; }
  .sm-pdgh-- {
    padding-right: 7px !important;
    padding-left: 7px !important; }
  .sm-pdgv-- {
    padding-top: 7px !important;
    padding-bottom: 7px !important; }
  .sm-pdg- {
    padding: 14px !important; }
  .sm-pdgt- {
    padding-top: 14px !important; }
  .sm-pdgr- {
    padding-right: 14px !important; }
  .sm-pdgb- {
    padding-bottom: 14px !important; }
  .sm-pdgl- {
    padding-left: 14px !important; }
  .sm-pdgh- {
    padding-right: 14px !important;
    padding-left: 14px !important; }
  .sm-pdgv- {
    padding-top: 14px !important;
    padding-bottom: 14px !important; }
  .sm-pdg\+ {
    padding: 38px !important; }
  .sm-pdgt\+ {
    padding-top: 38px !important; }
  .sm-pdgr\+ {
    padding-right: 38px !important; }
  .sm-pdgb\+ {
    padding-bottom: 38px !important; }
  .sm-pdgl\+ {
    padding-left: 38px !important; }
  .sm-pdgh\+ {
    padding-right: 38px !important;
    padding-left: 38px !important; }
  .sm-pdgv\+ {
    padding-top: 38px !important;
    padding-bottom: 38px !important; }
  .sm-pdg\+\+ {
    padding: 77px !important; }
  .sm-pdgt\+\+ {
    padding-top: 77px !important; }
  .sm-pdgr\+\+ {
    padding-right: 77px !important; }
  .sm-pdgb\+\+ {
    padding-bottom: 77px !important; }
  .sm-pdgl\+\+ {
    padding-left: 77px !important; }
  .sm-pdgh\+\+ {
    padding-right: 77px !important;
    padding-left: 77px !important; }
  .sm-pdgv\+\+ {
    padding-top: 77px !important;
    padding-bottom: 77px !important; } }

@media (min-width: 46.9375em) {
  .md-pdg0 {
    padding: 0 !important; }
  .md-pdgt0 {
    padding-top: 0 !important; }
  .md-pdgr0 {
    padding-right: 0 !important; }
  .md-pdgb0 {
    padding-bottom: 0 !important; }
  .md-pdgl0 {
    padding-left: 0 !important; }
  .md-pdgh0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .md-pdgv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .md-pdg {
    padding: 24px !important; }
  .md-pdgt {
    padding-top: 24px !important; }
  .md-pdgr {
    padding-right: 24px !important; }
  .md-pdgb {
    padding-bottom: 24px !important; }
  .md-pdgl {
    padding-left: 24px !important; }
  .md-pdgh {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .md-pdgv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; }
  .md-pdg-- {
    padding: 7px !important; }
  .md-pdgt-- {
    padding-top: 7px !important; }
  .md-pdgr-- {
    padding-right: 7px !important; }
  .md-pdgb-- {
    padding-bottom: 7px !important; }
  .md-pdgl-- {
    padding-left: 7px !important; }
  .md-pdgh-- {
    padding-right: 7px !important;
    padding-left: 7px !important; }
  .md-pdgv-- {
    padding-top: 7px !important;
    padding-bottom: 7px !important; }
  .md-pdg- {
    padding: 14px !important; }
  .md-pdgt- {
    padding-top: 14px !important; }
  .md-pdgr- {
    padding-right: 14px !important; }
  .md-pdgb- {
    padding-bottom: 14px !important; }
  .md-pdgl- {
    padding-left: 14px !important; }
  .md-pdgh- {
    padding-right: 14px !important;
    padding-left: 14px !important; }
  .md-pdgv- {
    padding-top: 14px !important;
    padding-bottom: 14px !important; }
  .md-pdg\+ {
    padding: 38px !important; }
  .md-pdgt\+ {
    padding-top: 38px !important; }
  .md-pdgr\+ {
    padding-right: 38px !important; }
  .md-pdgb\+ {
    padding-bottom: 38px !important; }
  .md-pdgl\+ {
    padding-left: 38px !important; }
  .md-pdgh\+ {
    padding-right: 38px !important;
    padding-left: 38px !important; }
  .md-pdgv\+ {
    padding-top: 38px !important;
    padding-bottom: 38px !important; }
  .md-pdg\+\+ {
    padding: 77px !important; }
  .md-pdgt\+\+ {
    padding-top: 77px !important; }
  .md-pdgr\+\+ {
    padding-right: 77px !important; }
  .md-pdgb\+\+ {
    padding-bottom: 77px !important; }
  .md-pdgl\+\+ {
    padding-left: 77px !important; }
  .md-pdgh\+\+ {
    padding-right: 77px !important;
    padding-left: 77px !important; }
  .md-pdgv\+\+ {
    padding-top: 77px !important;
    padding-bottom: 77px !important; } }

@media (min-width: 64.0625em) {
  .lg-pdg0 {
    padding: 0 !important; }
  .lg-pdgt0 {
    padding-top: 0 !important; }
  .lg-pdgr0 {
    padding-right: 0 !important; }
  .lg-pdgb0 {
    padding-bottom: 0 !important; }
  .lg-pdgl0 {
    padding-left: 0 !important; }
  .lg-pdgh0 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .lg-pdgv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .lg-pdg {
    padding: 24px !important; }
  .lg-pdgt {
    padding-top: 24px !important; }
  .lg-pdgr {
    padding-right: 24px !important; }
  .lg-pdgb {
    padding-bottom: 24px !important; }
  .lg-pdgl {
    padding-left: 24px !important; }
  .lg-pdgh {
    padding-right: 24px !important;
    padding-left: 24px !important; }
  .lg-pdgv {
    padding-top: 24px !important;
    padding-bottom: 24px !important; }
  .lg-pdg-- {
    padding: 7px !important; }
  .lg-pdgt-- {
    padding-top: 7px !important; }
  .lg-pdgr-- {
    padding-right: 7px !important; }
  .lg-pdgb-- {
    padding-bottom: 7px !important; }
  .lg-pdgl-- {
    padding-left: 7px !important; }
  .lg-pdgh-- {
    padding-right: 7px !important;
    padding-left: 7px !important; }
  .lg-pdgv-- {
    padding-top: 7px !important;
    padding-bottom: 7px !important; }
  .lg-pdg- {
    padding: 14px !important; }
  .lg-pdgt- {
    padding-top: 14px !important; }
  .lg-pdgr- {
    padding-right: 14px !important; }
  .lg-pdgb- {
    padding-bottom: 14px !important; }
  .lg-pdgl- {
    padding-left: 14px !important; }
  .lg-pdgh- {
    padding-right: 14px !important;
    padding-left: 14px !important; }
  .lg-pdgv- {
    padding-top: 14px !important;
    padding-bottom: 14px !important; }
  .lg-pdg\+ {
    padding: 38px !important; }
  .lg-pdgt\+ {
    padding-top: 38px !important; }
  .lg-pdgr\+ {
    padding-right: 38px !important; }
  .lg-pdgb\+ {
    padding-bottom: 38px !important; }
  .lg-pdgl\+ {
    padding-left: 38px !important; }
  .lg-pdgh\+ {
    padding-right: 38px !important;
    padding-left: 38px !important; }
  .lg-pdgv\+ {
    padding-top: 38px !important;
    padding-bottom: 38px !important; }
  .lg-pdg\+\+ {
    padding: 77px !important; }
  .lg-pdgt\+\+ {
    padding-top: 77px !important; }
  .lg-pdgr\+\+ {
    padding-right: 77px !important; }
  .lg-pdgb\+\+ {
    padding-bottom: 77px !important; }
  .lg-pdgl\+\+ {
    padding-left: 77px !important; }
  .lg-pdgh\+\+ {
    padding-right: 77px !important;
    padding-left: 77px !important; }
  .lg-pdgv\+\+ {
    padding-top: 77px !important;
    padding-bottom: 77px !important; } }

/*----------------------------------------*  IMAGES
\*----------------------------------------*/
.img-responsive {
  max-width: 100%;
  height: auto; }

.img-block {
  width: 100%;
  height: auto; }

/*----------------------------------------*  VERTICAL & HORIZONTAL ALIGN
\*----------------------------------------*/
.h-align {
  margin-left: auto;
  margin-right: auto; }

.v-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.vh-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.relative-parent {
  position: relative; }

/*----------------------------------------*  DISPLAY
\*----------------------------------------*/
.hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

@media (min-width: 40.0625em) {
  .hidden-sm-up {
    display: none !important; } }

@media (min-width: 46.9375em) {
  .hidden-md-up {
    display: none !important; } }

@media (min-width: 64.0625em) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 40em) {
  .hidden-xs-down {
    display: none !important; } }

@media (max-width: 46.875em) {
  .hidden-sm-down {
    display: none !important; } }

@media (max-width: 64em) {
  .hidden-md-down {
    display: none !important; } }

@media print {
  .hidden-print {
    display: none !important; }
  .invisible-print {
    visibility: hidden !important; } }

@media not print {
  .visible-print {
    display: none !important; } }

.visible-sr {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

/**
 * Components
 */
/**
 * Post
 */
.post > ul {
  list-style: none;
  padding: 0; }

.post > .subjects {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase; }
  .post > .subjects > li.red {
    color: #D0011B; }
  .post > .subjects > li.purple {
    color: #BD10E0; }
  .post > .subjects > li.blue {
    color: #4A90E2; }
  .post > .subjects > li.green {
    color: #7CBB37; }
  .post > .subjects > li.yellow {
    color: #F5A623; }

.post > .content .title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  margin-top: 15px;
  margin-bottom: 10px; }

.post > .content .byline {
  line-height: 26px; }
  .post > .content .byline .author-img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 7px; }
  .post > .content .byline .author {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #808080; }

.post > .content .text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #686868;
  margin-top: 20px;
  line-height: 21px; }

.post.-main > .content .title {
  font-size: 29px; }

.sep {
  border: solid 1px #e4e4e4;
  margin-bottom: 30px; }

/**
 * Menu
 */
.menu {
  height: 56px;
  border-bottom: 1px solid #979797;
  margin-bottom: 76px; }
  .menu .logo {
    margin-top: 5px;
    height: 45px;
    width: 45px; }

@media (min-width: 46.9375em) {
  .menu .logo {
    float: left; } }

@media (max-width: 46.875em) {
  .menu .logo {
    position: absolute;
    top: 0;
    left: 50%; }
  .menu.is-active {
    visibility: visible; } }

.navigation .login-btn a {
  color: #4990E2; }

.navigation a {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3E433E; }

@media (min-width: 46.9375em) {
  .navigation li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px; } }

@media (max-width: 46.875em) {
  .navigation {
    visibility: hidden; }
    .navigation.is-active {
      visibility: visible; }
    .navigation > ul {
      position: absolute;
      width: 100%;
      background: #fff;
      top: 42px;
      left: 0; }
      .navigation > ul > li {
        margin-top: 12px;
        margin-bottom: 12px; } }

.login {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  width: 242px;
  color: #3E433E; }
  .login > .title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 63px; }
  .login label.field-label {
    font-weight: normal;
    text-transform: uppercase; }
  .login .btn {
    margin-top: 8px;
    width: 100%;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px; }

.interests {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 500px;
  color: #3E433E; }
  .interests > .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 63px; }
    .interests > .title > .username {
      color: #4990E2; }
  .interests .pills {
    padding-left: 0; }
    .interests .pills li {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px; }
      .interests .pills li a {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 15px;
        text-decoration: none;
        border: #3E433E 1px solid;
        color: #3E433E; }
        .interests .pills li a:hover {
          cursor: pointer; }
        .interests .pills li a.-pill-red {
          border: #D0011B 1px solid;
          color: #D0011B; }
          .interests .pills li a.-pill-red.-selected {
            background-color: #D0011B;
            color: white; }
        .interests .pills li a.-pill-purple {
          border: #BD10E0 1px solid;
          color: #BD10E0; }
          .interests .pills li a.-pill-purple.-selected {
            background-color: #BD10E0;
            color: white; }
        .interests .pills li a.-pill-blue {
          border: #4A90E2 1px solid;
          color: #4A90E2; }
          .interests .pills li a.-pill-blue.-selected {
            background-color: #4A90E2;
            color: white; }
        .interests .pills li a.-pill-green {
          border: #7CBB37 1px solid;
          color: #7CBB37; }
          .interests .pills li a.-pill-green.-selected {
            background-color: #7CBB37;
            color: white; }
        .interests .pills li a.-pill-yellow {
          border: #F5A623 1px solid;
          color: #F5A623; }
          .interests .pills li a.-pill-yellow.-selected {
            background-color: #F5A623;
            color: white; }
  .interests .actions {
    display: flex; }
    .interests .actions a.back {
      text-decoration: none; }
  .interests .btn {
    margin-top: 8px;
    width: 242px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    margin-top: 57px; }
  .interests .back {
    margin-top: 27px; }

/*----------------------------------------*  GRID
\*----------------------------------------*/
/**
 * Modern grid using flexbox
 */
.grid {
  display: block;
  margin-left: -24px;
  font-size: 0; }

.grid__item {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
  font-size: 14px;
  vertical-align: top; }

/**
   * Gutters size
   */
.grid--tight {
  margin-left: 0; }
  .grid--tight > .grid__item {
    padding-left: 0; }

.grid--tiny {
  margin-left: -7px; }
  .grid--tiny > .grid__item {
    padding-left: 7px; }

.grid--small {
  margin-left: -14px; }
  .grid--small > .grid__item {
    padding-left: 14px; }

.grid--large {
  margin-left: -38px; }
  .grid--large > .grid__item {
    padding-left: 38px; }

.grid--huge {
  margin-left: -77px; }
  .grid--huge > .grid__item {
    padding-left: 77px; }

/**
   * Alignment
   */
.grid--center {
  text-align: center; }
  .grid--center > .grid__item {
    text-align: left; }

.grid--right {
  text-align: right; }
  .grid--right > .grid__item {
    text-align: left; }

.grid--middle > .grid__item {
  vertical-align: middle; }

.grid--bottom > .grid__item {
  vertical-align: bottom; }

/**
   * Order
   */
.grid--rev {
  direction: rtl;
  text-align: left; }
  .grid--rev > .grid__item {
    direction: ltr;
    text-align: left; }

/*----------------------------------------*  WIDTHS
\*----------------------------------------*/
.w-1\/6 {
  width: 16.66667% !important; }

.w-1\/3 {
  width: 33.33333% !important; }

.w-1\/2 {
  width: 50% !important; }

.w-2\/3 {
  width: 66.66667% !important; }

.w-5\/6 {
  width: 83.33333% !important; }

.w-1\/1 {
  width: 100% !important; }

.w-1\/5 {
  width: 20% !important; }

.w-2\/5 {
  width: 40% !important; }

.w-3\/5 {
  width: 60% !important; }

.w-4\/5 {
  width: 80% !important; }

.w-1\/4 {
  width: 25% !important; }

.w-3\/4 {
  width: 75% !important; }

/*----------------------------------------*  WIDTHS RESPONSIVE
\*----------------------------------------*/
@media (min-width: 40.0625em) {
  .sm-w-1\/6 {
    width: 16.66667% !important; }
  .sm-w-1\/3 {
    width: 33.33333% !important; }
  .sm-w-1\/2 {
    width: 50% !important; }
  .sm-w-2\/3 {
    width: 66.66667% !important; }
  .sm-w-5\/6 {
    width: 83.33333% !important; }
  .sm-w-1\/1 {
    width: 100% !important; }
  .sm-w-1\/5 {
    width: 20% !important; }
  .sm-w-2\/5 {
    width: 40% !important; }
  .sm-w-3\/5 {
    width: 60% !important; }
  .sm-w-4\/5 {
    width: 80% !important; }
  .sm-w-1\/4 {
    width: 25% !important; }
  .sm-w-3\/4 {
    width: 75% !important; } }

@media (min-width: 46.9375em) {
  .md-w-1\/6 {
    width: 16.66667% !important; }
  .md-w-1\/3 {
    width: 33.33333% !important; }
  .md-w-1\/2 {
    width: 50% !important; }
  .md-w-2\/3 {
    width: 66.66667% !important; }
  .md-w-5\/6 {
    width: 83.33333% !important; }
  .md-w-1\/1 {
    width: 100% !important; }
  .md-w-1\/5 {
    width: 20% !important; }
  .md-w-2\/5 {
    width: 40% !important; }
  .md-w-3\/5 {
    width: 60% !important; }
  .md-w-4\/5 {
    width: 80% !important; }
  .md-w-1\/4 {
    width: 25% !important; }
  .md-w-3\/4 {
    width: 75% !important; } }

@media (min-width: 64.0625em) {
  .lg-w-1\/6 {
    width: 16.66667% !important; }
  .lg-w-1\/3 {
    width: 33.33333% !important; }
  .lg-w-1\/2 {
    width: 50% !important; }
  .lg-w-2\/3 {
    width: 66.66667% !important; }
  .lg-w-5\/6 {
    width: 83.33333% !important; }
  .lg-w-1\/1 {
    width: 100% !important; }
  .lg-w-1\/5 {
    width: 20% !important; }
  .lg-w-2\/5 {
    width: 40% !important; }
  .lg-w-3\/5 {
    width: 60% !important; }
  .lg-w-4\/5 {
    width: 80% !important; }
  .lg-w-1\/4 {
    width: 25% !important; }
  .lg-w-3\/4 {
    width: 75% !important; } }

/*----------------------------------------*  BUTTON
\*----------------------------------------*/
.btn {
  display: inline-block;
  overflow: hidden;
  padding: 8px 14px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  line-height: inherit;
  border: 1px solid transparent;
  border-radius: 0;
  background: #4990E2;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  .btn:hover, .btn:focus, .btn:active {
    text-decoration: none; }
  .btn:focus {
    outline: none; }

/**
 * Variants
 */
.btn--block {
  display: block;
  width: 100%; }

.btn--bare {
  padding: 0;
  border-radius: 0; }

/**
 * Styles
 */
.btn--default {
  color: #333;
  background-color: #e4e4e4; }
  .btn--default:hover, .btn--default:focus {
    background-color: #ececec; }
  .btn--default:active {
    background-color: #d7d7d7; }

.btn--primary {
  color: white;
  background-color: #4990E2; }
  .btn--primary:hover, .btn--primary:focus {
    background-color: #6ca5e8; }
  .btn--primary:active {
    background-color: #3383de; }

/**
 * States
 */
.btn--disabled,
.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed; }

/**
 * Sizes
 */
.btn--small {
  padding: 4px 7px;
  font-size: 13px;
  border-radius: 2px; }

.btn--large {
  padding: 14px 24px;
  font-size: 17px;
  border-radius: 6px; }

/*----------------------------------------*  BOX
\*----------------------------------------*/
.box {
  padding: 24px; }
  .box > :first-child {
    margin-top: 0; }
  .box > :last-child {
    margin-bottom: 0; }

/**
 * Spacings
 */
.box--tight {
  padding: 0; }

.box--tiny {
  padding: 7px; }

.box--small {
  padding: 14px; }

.box--large {
  padding: 38px; }

.box--huge {
  padding: 77px; }

/**
 * Styles
 */
.box--default {
  color: inherit;
  background-color: #e4e4e4; }

.box--primary {
  color: white;
  background-color: #6ea644; }

/*----------------------------------------*  THE MEDIA OBJECT
\*----------------------------------------*/
.media {
  display: block; }

.media__left {
  float: left;
  margin-right: 24px; }

.media__right {
  float: right;
  margin-left: 24px; }

.media__image {
  display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body > :first-child {
    margin-top: 0; }
  .media__body > :last-child {
    margin-bottom: 0; }

/*----------------------------------------*  MEDIA RESPONSIVE
\*----------------------------------------*/
@media (max-width: 46.875em) {
  .media--responsive .media__left,
  .media--responsive .media__right {
    float: none;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 24px;
    width: 100%; }
  .media--responsive .media__image {
    max-width: 100%;
    height: auto;
    margin: 0 auto; } }

/*----------------------------------------*  MOSAIC
\*----------------------------------------*/
.mosaic {
  display: table;
  width: 100%; }

.mosaic--fixed {
  table-layout: fixed; }

.mosaic__row {
  display: table-row; }

.mosaic__cell {
  display: table-cell;
  vertical-align: middle; }
  .mosaic--top .mosaic__cell {
    vertical-align: top; }
  .mosaic--bottom .mosaic__cell {
    vertical-align: bottom; }

.mosaic__cell--fit {
  width: 1px;
  white-space: nowrap; }

/*----------------------------------------*  MOSAIC RESPONSIVE
\*----------------------------------------*/
@media (max-width: 46.875em) {
  .mosaic--responsive,
  .mosaic--responsive > .mosaic__row,
  .mosaic--responsive > .mosaic__cell {
    display: block; }
  .mosaic--responsive > .mosaic__cell--fit {
    width: auto; } }

/*----------------------------------------*  LIST
\*----------------------------------------*/
.list,
.list-inline,
.list-stacked {
  margin: 0;
  padding: 0;
  list-style: none; }

/*----------------------------------------*  LIST STACKED
\*----------------------------------------*/
.list-inline > li {
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle; }
  .list-inline > li:first-child {
    padding-left: 0; }
  .list-inline > li:last-child {
    padding-right: 0; }

.list-inline--divided > li + li {
  border-left: 1px solid #e4e4e4; }

/**
   * Sizes
   */
.list-inline--tight > li {
  padding: 0; }

.list-inline--tiny > li {
  padding: 0 3.5px; }

.list-inline--small > li {
  padding: 0 7px; }

.list-inline--large > li {
  padding: 0 19px; }

.list-inline--huge > li {
  padding: 0 38.5px; }

/*----------------------------------------*  LIST STACKED
\*----------------------------------------*/
.list-stacked > li {
  padding: 12px 0; }
  .list-stacked > li:first-child {
    padding-top: 0; }
  .list-stacked > li:last-child {
    padding-bottom: 0; }

.list-stacked--divided > li + li {
  border-top: 1px solid #e4e4e4; }

/**
   * Sizes
   */
.list-stacked--tight > li {
  padding: 0; }

.list-stacked--tiny > li {
  padding: 3.5px 0; }

.list-stacked--small > li {
  padding: 7px 0; }

.list-stacked--large > li {
  padding: 19px 0; }

.list-stacked--huge > li {
  padding: 38.5px 0; }

/*----------------------------------------*  EMBED RESPONSIVE
\*----------------------------------------*/
.embed-responsive {
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }

.embed-responsive__item,
.embed-responsive > iframe,
.embed-responsive > object,
.embed-responsive > embed {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 0; }

.embed-responsive--16\/9 {
  padding-bottom: 56.25%; }

.embed-responsive--4\/3 {
  padding-bottom: 75%; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }

/**
 * Partials
 */
html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative; }

ul {
  list-style: none; }

.f-container {
  padding: 0 2em 4em;
  z-index: 0; }
