{% load staticfiles i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div id="app"></div>
    <script src="{% static 'js/app.js' %}"></script>
    <script>desafio.core.init();</script>
  </body>
</html>
